<div class="row login-form">
  <form class="col s12" action="/login" method="post">
    <div class="row">
      <div class="input-field col s6">
        <input id="login" name="login" type="text" class="validate">
        <label for="login">Login</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s6">
        <input id="password" name="password" type="password" class="validate">
        <label for="password">Password</label>
      </div>
    </div>
    <button class="btn waves-effect waves-light" type="submit" name="action">Login</button>
  </form>
</div>
<hr>
<a class="register-link" href="#">Don't have account? Register there</a>
</body>